.image_background{
	height: 650px;
    border: 1px solid;
}
.superior{
	border: 1px solid;
	height: 30%;	
}
.medio{
	border: 1px solid;
	height: 40%;
	text-align: center;
}
.contenedor_boton_derecho{
	display: inline-block;
	height: 100%;
	width: 30%;
	border: 1px solid;
	float: right;
}
.boton_derecho{
	width: 100%;
	height: 100%;
	margin: 0;
}
.contenedor_boton_izquierdo{
	display: inline-block;
	height: 100%;
	width: 30%;
	border: 1px solid;
	float: left;
}
.boton_izquierdo{
	width: 100%;
	height: 100%;
	margin: 0;
}
.inferior{
	border: 1px solid;
	height: 30%;
}
